.note-list-item {
    position: relative;
    display: block;
    padding: 20px 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 rgba(44, 21, 21, 0.49);
    max-width: 400px;
    border: 1px dashed gray;
    z-index: 1;
    margin: 0 auto;
    background-color: rgb(205, 213, 238);
    border-radius: 4px;
    min-height: 40px;
    text-align: center;
    font-size: 1.1em;
    text-shadow: 1px 1px gray;
    letter-spacing: .06em;
    color: rgb(22, 14, 6);
    margin-bottom: 20px;
    opacity: .9;
    cursor: pointer;
  }
  .note-list-item:hover {
    opacity: .9;
  }
  .note-list-item:active {
    background-color: #fff;
  }